<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><h1>Tiwit Life Sciences</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/what-are-stem-cells/">What are Stem Cells?</a></li>
            <li class="nav-item"><a href="/what-is-cord-blood-banking/">What is Cord Blood Banking?</a></li>
            <li class="nav-item"><a href="/futurology/">Futurology</a></li>
            <li class="nav-item"><a href="/faqs/">FAQs</a></li>
            <li class="nav-item"><a href="/about/">About Tiwit</a></li>
        </ul>
    </div>
</nav>

