@import url('https://fonts.googleapis.com/css?family=Montserrat');
$body-bg: #fff;
$body-color: #000;
//$body-color: #002458;
$color: #000;
$text-color: #000;
//$text-color: #002458;
$font-family-base: "Montserrat", "Helvetica", sans-serif !default;
$font-family-sans-serif: "Montserrat", "Helvetica", sans-serif !default;
$font-family-serif: "Montserrat", serif !default;
$link-color: black;
$link-hover-color: red;
